<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/header") %>
    <link rel="stylesheet" href="/public/common/account_management_style.css" />
    <script src="/public/common/account_management.js" defer></script>
    <title>개인정보 관리</title>
  </head>
  <body>
    <div class="wrapper">
      <% if(userType === '건물주') { %> <%- include ("../partials/navbar", {type: 'host',
      sel:'nav_home'}) %> <% } %> <% if(userType === '관리인') { %> <%- include
      ("../partials/navbar", {type: 'manager', sel:'nav_home'}) %> <% } %> <% if(userType ===
      '세입자') { %> <%- include ("../partials/navbar", {type: 'tenant', sel:'nav_home'}) %> <% } %>
      <%- include ("../partials/set-menu") %>

      <div id="go_back">
        <i class="fas fa-arrow-left bt"></i>
      </div>

      <div class="account-management-title">개인정보 관리</div>

      <form class="account-management-form" method="POST" action="">
        <div class="account-management-box">
          <div class="list-tag">
            <div class="tag-explain">ID</div>
            <div class="tag-explain">직책</div>
            <div class="tag-explain">이름</div>
            <div class="tag-explain">전화번호</div>
            <div class="tag-explain">비밀번호</div>
          </div>
          <div class="list-content">
            <div class="info-account">acd123</div>
            <div class="info-account">건물주</div>
            <div class="info-account">이건욱</div>
            <div class="info-account">
              <input id="current_phnum" type="text" value="010-1234-5678" disabled="true" />
              <button id="change_phnum">변경</button>
            </div>
            <div class="info-account">
              <input id="change_passwd" type="text" />
              <button id="show_input">비밀번호 변경</button>
            </div>
          </div>
        </div>

        <div class="submit-box">
          <label for="submit_changes">확 인</label>
          <input type="submit" id="submit_changes" />
        </div>
      </form>
    </div>
  </body>
</html>
