<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/header") %>
    <link rel="stylesheet" href="/public/common/account_check_passwd_style.css" />
    <title>본인확인</title>
  </head>
  <body>
    <div class="wrapper">
        <% if(userType === '건물주') { %> <%- include ("../partials/navbar", {type: 'host',
      sel:'nav_home'}) %> <% } %> <% if(userType === '관리인') { %> <%- include
      ("../partials/navbar", {type: 'manager', sel:'nav_home'}) %> <% } %> <% if(userType ===
      '세입자') { %> <%- include ("../partials/navbar", {type: 'tenant', sel:'nav_home'}) %> <% } %>
      <div class="view-main-contents">

      <div id="go_back" onclick="location.href='/setting'">
        <i class="fas fa-arrow-left bt"></i>
      </div>

      <div class="check-passwd-title">본인확인</div>
      <p>소중한 개인정보 보호를 위한 본인확인을 진행합니다.</p>

      <form class="check-passwd-form" action="/check/password_submit" method="POST">
        <input class="check-passwd-input" name="pw" type="password" placeholder="비밀번호를 입력하세요" required />
        <label for="check-passwd-button">확 인</label>
        <input id="check-passwd-button" type="submit"></input>
      </form>
      </div>
    </div>
  </body>
</html>
