.account-management-title {
  font-size: 1.7rem;
  font-weight: 600;
  padding-left: 1.3rem;
  margin-bottom: 1rem;
}

.account-management-box {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 1.2rem;
  width: 95%;
  margin-left: 0.5rem;
  margin-top: 0.8rem;
}

.list-tag {
  flex: 1;
}

.tag-explain {
  padding: 0.4rem 1rem;
  margin-top: 0.8rem;
  height: 1.8rem;
}

.list-content {
  flex: 2;
}

.info-account {
  padding: 0.4rem 0.8rem;
  margin-top: 0.8rem;
  background-color: #eee;
  border-radius: 5px;
  height: 1.8rem;
}

#current_phnum {
  width: 8rem;
  font-size: 1rem;
  text-align: center;
}

#change_phnum {
  font-size: 1rem;
}

#change_passwd {
  display: none;
}

#show_input {
  font-size: 1rem;
}
/* 
#change_passwd_box {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 1.2rem;
  width: 95%;
  margin-left: 0.5rem;
  margin-top: 0.8rem;
  display: none;
}

.passwd-tag {
  flex: 1;
}

.passwd-explain {
  padding: 0.4rem 1rem;
  margin-top: 1rem;
  height: 1.8rem;
  font-size: 1rem;
}

.passwd-content {
  flex: 1;
}

#current_passwd,
#first_passwd,
#second_passwd {
  width: 10rem;
}
*/

.submit-box {
  margin-top: 2rem;
  margin-left: 5.8rem;
}

label {
  padding: 0.3rem 5rem;
  color: var(--point-color);
  font-size: 1rem;
  background-color: var(--white-color);
  border: 1px solid #cfd8dc;
  border-radius: 5px;
}

#submit_changes {
  display: none;
}
