<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/header") %>
    <link rel="stylesheet" href="/public/common/function_style.css" />
    <title>건물주/관리인 기능</title>
  </head>
  <body>
    <div class="wrapper">
      <% if(userType === '건물주') { %> <%- include ("../partials/navbar", {type: 'host',
      sel:'nav_function'}) %> <% } %> <% if(userType === '관리인') { %> <%- include
      ("../partials/navbar", {type: 'manager', sel:'nav_function'}) %> <% } %> <% if(userType ===
      '세입자') { %> <%- include ("../partials/navbar", {type: 'tenant', sel:'nav_function'}) %> <%
      } %> <%- include ("../partials/set-menu") %> <% if(userType === '건물주'){ %>
      <div class="func-select bt" onclick="location.href='/host/function/message'">
        <div class="select-title">
          <i class="fab fa-telegram-plane" style="color: var(--blue-color) !important"></i>알림
          보내기
        </div>
      </div>
      <% } if(userType === '관리인') { %>
      <div class="func-select bt" onclick="location.href='/manager/function/message'">
        <div class="select-title">
          <i class="fab fa-telegram-plane" style="color: var(--blue-color) !important"></i>알림
          보내기
        </div>
      </div>
      <% } %>

      <div class="func-select bt" onclick="location.href='/repair_list'">
        <div class="select-title"><i class="fas fa-tools"></i>유지/보수 관리</div>
      </div>
    </div>
  </body>
</html>
