<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/public/common/main_style.css" />
    <link rel="stylesheet" href="/public/common/function_style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto Sans KR" />
    <script src="/public/common/module.js" defer></script>
    <% if(userType === '건물주'){ %>
    <script src="/public/host/host_nav.js" defer></script>
    <% } if(userType === '관리인') { %>
    <script src="/public/manager/mgr_nav.js" defer></script>
    <% } %>
    <script src="https://kit.fontawesome.com/69cc74444b.js" crossorigin="anonymous"></script>
    <title>건물주/관리인 기능</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="navbar">
        <div class="navbar-main">
          <div class="main-content bt" id="nav_home">홈</div>
          <div class="main-content bt" id="nav_push">알림</div>
          <div class="main-content bt selected_menu" id="nav_function">기능</div>
          <% if(userType === '건물주'){ %>
          <div class="main-content bt" id="nav_management">관리</div>
          <% } %>
        </div>
        <div class="navbar-setapp bt">
          <i class="fas fa-cog"></i>
        </div>
      </div>

      <div class="set-menu">
        <div class="set-items bt">계정관리</div>
        <div class="set-notice bt">공지사항</div>
        <div class="set-push bt">알림설정</div>
        <div class="set-logout bt">로그아웃</div>
      </div>

      <% if(userType === '건물주'){ %>
      <div class="func-select bt" onclick="location.href='/host/function/message'">
        <div class="select-title">
          <i class="fab fa-telegram-plane" style="color: white !important"></i>알림 보내기
        </div>
      </div>
      <% } if(userType === '관리인') { %>
      <div class="func-select bt" onclick="location.href='/manager/function/message'">
        <div class="select-title">
          <i class="fab fa-telegram-plane" style="color: white !important"></i>알림 보내기
        </div>
      </div>
      <% } %>

      <div class="func-select bt" onclick="location.href='/repair_list'">
        <div class="select-title"><i class="fas fa-tools"></i>유지/보수 관리</div>
      </div>
    </div>
  </body>
</html>
