@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

:root {
  --main-color: #424242;
  --white-color: white;
  --black-color: #212121;
  --point-color: dodgerblue;
  --point-soft-color: rgb(195, 225, 255);
  --push-color: rgb(255, 0, 76);
  --gray-color: #424242;
  --soft-gray-color: #d8d8d8;
  --bright-gray-color: rgb(231, 231, 231);
  --blue-color: rgb(31, 143, 255);
  --soft-blue-color: rgb(190, 229, 255);
  --pink-color: rgb(255, 93, 120);
  --soft-pink-color: rgb(253, 182, 194);
  --green-color: rgb(20, 156, 20);
  --soft-green-color: rgb(200, 250, 200);
}

html,
body {
  color: var(--black-color);
  background-color: var(--white-color);
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0 !important;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
}

span,
p,
div {
  letter-spacing: -0.35px;
}

span,
p,
table,
hr,
input[type='button'],
input[type='submit'],
button,
ul,
div,
a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type='button'],
input[type='submit'],
button {
  -webkit-appearance: none;
}

a {
  text-decoration: none;
  color: black;
}

input,
button {
  font-family: 'Noto Sans KR', sans-serif !important;
}

.bt {
  cursor: pointer;
}

i {
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.wrapper > .view-main-contents {
  -webkit-animation: transformView 0.25s ease-out both;
  animation: transformView 0.25s ease-out both;
}

@-webkit-keyframes transformView {
  from {
    opacity: 0;
    -webkit-transform: translateX(40px) translate(40px);
    transform: translateX(40px) translate(40px);
  }
}

.top-navbar-wrapper {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1rem 0.85rem 0.2rem;
  padding-top: 1rem;
  box-shadow: 0 1px 5px var(--soft-gray-color);
  z-index: 999;
  border-radius: 0.5rem;
}

.navbar-left-items {
  display: flex;
  flex: 1;
}

.navbar-item {
  color: var(--gray-color);
  font-size: 1.25rem;
  padding: 0.25rem 0.55rem;
}

.navbar-pushcount {
  position: absolute;
  background-color: var(--push-color);
  color: white;
  border-radius: 50%;
  width: 0.9rem;
  height: 0.9rem;
  top: 1.25rem;
  left: 5.8rem;
  margin-top: -0.175rem;
  text-align: center;
  font-weight: 500 !important;
  font-size: 0.625rem;
}

#nav_panda > i {
  font-size: 0.85rem;
  vertical-align: top;
  margin: 3px 0 0 -7px;
}

.main-content {
  color: var(--gray-color);
  font-size: 1.25em;
  padding: 0.25rem 0.4rem;
}

.navbar-setapp {
  color: var(--gray-color);
  font-size: 1.3rem;
}

.top-navbar-wrapper .selected {
  color: var(--blue-color);
  font-weight: 700;
}

.header {
  padding: 1.4rem 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-left {
  padding: 0.5rem;
  flex: 1;
}

#header_left_name {
  font-weight: 700;
  font-size: 1.35rem;
}

#welcome_message {
  margin: 0.2rem auto;
}

#header_right_name {
  font-weight: 700;
}

#header_left_role {
  font-size: 0.9rem;
  padding: 0.07rem 0.1rem;
}

#header_right_role {
  font-size: 0.8rem;
  font-weight: lighter;
}

.set-menu {
  display: none;
}

.content {
  margin: 0.8rem;
  padding: 0.6rem;
  box-shadow: 0 0 4px 3px var(--soft-gray-color);
  border-radius: 7px;
}

.content-title {
  font-size: 1.15rem;
  font-weight: 700;
  color: var(--blue-color);
  padding: 0.4rem 0.5rem 1rem 0.5rem;
}

.content-left > .content-name {
  font-size: 1.1rem;
  padding-bottom: 0.35rem;
}

.content-name {
  font-size: 0.9rem;
  font-weight: 700;
}

.mgr-title {
  font-size: 0.85rem;
}

.red-count {
  font-size: 0.8rem;
  color: var(--push-color);
  font-weight: 700;
  border-radius: 4px;
  padding: 0 0.1rem;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.content-building {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 0.4rem;
  background: white;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 4px -0.5px var(--soft-gray-color);
}

.white-line {
  border: 1px solid white;
  background: white;
}

.content-left {
  flex: 2;
}

.content-mid {
  flex: 2;
  font-size: 0.85rem;
  color: var(--gray-color);
}

.content-maintenance {
  padding-top: 0.3rem;
}

.room-boolean {
  font-size: 0.8rem;
  color: var(--white-color);
  background: var(--push-color);
  border-radius: 5px;
  padding: 0rem 0.3rem;
}

.content-right {
  flex: 0.5;
}

.content-msg {
  text-align: center;
  color: var(--push-color);
}

.small {
  font-size: 0.8rem;
}

#go_back {
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 54px;
  margin-left: 0.3rem;
  background-color: var(--white-color);
  color: var(--point-color);
  z-index: 2;
}

#go_back i {
  font-size: 1.5rem;
  z-index: 1;
}

.bold {
  font-weight: 700;
}

.content-empty {
  padding: 0.3rem 0.4rem 0.7rem;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 4px -0.5px var(--soft-gray-color);
}

.empty-case {
  padding-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

.empty-case i {
  font-size: 3rem;
  color: var(--push-color);
}

.empty-case p {
  text-align: center;
}

#mgmt_register_bt {
  border: none;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  background: var(--blue-color);
  color: white;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.round-tag {
  font-size: 0.9rem;
  padding: 0.1rem 0.2rem;
  color: white;
  background: rgb(148, 148, 148);
  border-radius: 5px;
}

.round-tag-border {
  font-size: 0.8rem;
  font-weight: 700;
  background: var(--soft-blue-color);
  border-radius: 4px;
  padding: 0.05rem 0.4rem;
  margin: 0 0.05rem;
}

textarea {
  font-family: 'Noto Sans KR', sans-serif;
}

.pink-round {
  background: rgb(243, 192, 211);
  border-color: rgb(221, 146, 174);
}

.white-content {
  display: flex;
  padding: 0 1.3rem;
  align-items: center;
}

.big-title {
  flex: 1;
  font-size: 1.25rem;
  font-weight: 700;
}

.small-title {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 600;
  color: #888;
}

.content-bt {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  background: var(--point-color);
  color: var(--white-color);
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 5px;
}

.white-content-filter {
  font-size: 1rem;
  padding: 1.4rem;
  display: flex;
}

.filter-bt {
  flex: 1;
  text-align: center;
  font-size: 0.9rem;
  margin: 0 0.2rem;
  padding: 0.25rem 0;
  color: var(--gray-color);
  border: 1px solid var(--gray-color);
  border-radius: 4px;
}

.filter-selected {
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
}

.white-content-list {
  padding: 0 0.6rem;
}

.white-each-content {
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  display: flex;
}

.white-content-title-wrapper {
  flex: 1;
}

.white-content-subtitle {
  margin: 0;
  font-size: 0.9rem;
  padding-left: 0.5rem;
  color: var(--main-color);
}

.white-content-title {
  margin: 0;
  font-size: 1.05rem;
  border-bottom: 2px solid #ccc;
  padding: 0 0 0.25rem 0.4rem;
  margin-right: 0.2rem;
}

.white-content-state {
  display: grid;
  align-items: center;
}

.white-content-state i {
  width: 22px;
  font-size: 1.3rem;
}

.product-state {
  width: 4rem;
  font-size: 0.925rem;
  text-align: center;
  background: var(--pink-color);
  color: white;
  border-radius: 4px;
}

.sell {
  background: var(--green-color);
}

.not-solved {
  color: var(--pink-color);
}

.solved {
  color: var(--green-color);
}

.top-padding {
  padding-top: 1.5rem;
}

.title-msg {
  display: inline-block;
  font-size: 1.2rem;
  border-bottom: 2px solid #ccc;
  padding: 0.1rem 0.2rem;
  margin-bottom: 0.7rem;
}

.repair-wrapper {
  text-align: center;
}

#repair_head {
  font-weight: 700;
}

.sub-msg {
  font-size: 1rem;
  margin: 0.3rem 0;
}

#imagebox {
  display: block;
  margin: 1rem auto;
  width: 15rem;
  height: 15rem;
  background: #999;
  border-radius: 7px;
}

.repair-msg {
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
  width: 14.2rem;
  padding: 0.4rem;
}

.fa-telegram-plane {
  color: var(--point-color) !important;
}

/* Login/Register */

.div-login-box {
  padding-top: 60px;
  padding-bottom: 30px;
}

.div-login-form {
  padding: 10px;
  margin-top: 30px;
}

.form-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-login #login_id,
.form-login #login_pw {
  font-size: 17px;
  width: 170px;
  border: none;
  padding: 7px;
  border-bottom: 1px solid #999;
}

.div-login-left-input {
  padding-left: 7%;
}

.div-login-right-input {
  padding-left: 2%;
}

.div-wrapper-input {
  margin-top: 4px;
}

#login-submit-bt {
  font-size: 20px;
  width: 40px;
  height: 40px;
  background: dodgerblue;
  color: white;
  border: none;
  border-radius: 50%; /*make circle*/
  padding: 0px;
}

.div-join-bt {
  margin-top: 50px;
}

.login-bt {
  background: inherit;
  border: none;
  border-bottom: 2px solid dodgerblue;
  font-size: 15px;
  font-weight: 700;
  color: #444;
  padding: 4px 5px;
  margin: 0 5px 0 5px;
}

.div-title {
  font-size: 1.6rem;
  font-weight: 800;
  color: black;
  text-align: center;
}

.homes-img-logo {
  padding-bottom: 0.5rem;
}

.blue-font {
  color: dodgerblue;
}

.div-login-form input[type='radio'] {
  display: none;
}

.div-login-form input[type='radio']:checked + div {
  display: inline-block;
  background-color: dodgerblue;
  color: white;
}

.div-login-form .div-type-bt {
  display: inline-block;
  width: 80px;
  background: #ddd;
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
  margin-bottom: 5px;
}

.div-login-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.div-login-form {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.div-wrapper-input {
  margin-bottom: 6px;
}

.div-wrapper-input input {
  font-size: 17px;
  font-weight: 500;
  width: 250px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #999;
}

.div-wrapper-submit {
  margin-top: 20px;
}

#reg_submit_bt {
  font-size: 18px;
  font-weight: 500;
  padding: 7px 10px;
  background: dodgerblue;
  color: white;
  border: none;
}
#reg_id {
  position: relative;
  left: 40px;
}
#reg_submit_dupBt {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  width: auto;
  right: 35px;
  padding: 0.2rem 0.45rem;
  background: dodgerblue;
  color: white;
  border-radius: 0.5rem;
}
.view-main {
  text-align: center;
  padding-top: 2rem;
  -webkit-animation: transformMainView 0.4s ease-out both;
  animation: transformMainView 0.4s ease-out both;
}

@-webkit-keyframes transformMainView {
  from {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
}

.homes-info {
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--blue-color);
  padding-bottom: 1.5rem;
}

#login_body {
  text-align: center;
}

.reg-go-back {
  position: absolute;
  top: 2rem;
  text-align: left;
  padding-left: 2.4rem;
}

.reg-go-back i {
  color: var(--blue-color);
}

.fire-report {
  color: var(--push-color) !important;
  margin-right: 0.5rem;
}

.fire-report > i {
  font-size: 2rem;
}

.fire-report > p {
  color: var(--push-color);
}

.report-msg {
  color: var(--push-color);
  font-size: 1rem;
  font-weight: 600;
  margin: 0.2rem auto;
}

.report-wrapper {
  padding: 0.5rem 1rem;
  text-align: center;
}

.fire-form {
  padding: 0.8rem 0;
}

.report-sms-info {
  background: var(--blue-color);
  color: white;
  border-radius: 20px;
  padding: 0.3rem;
  margin: 0.3rem 4rem;
  box-shadow: 0px 3px 4px -0.5px var(--soft-gray-color);
}

.report-submit {
  background: var(--push-color);
  width: 3.85rem;
  height: 3.85rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 3px 4px -0.5px var(--soft-gray-color);
}

.msg-wrapper {
  padding: 1rem 0;
}
