.push-contents {
  padding-top: 0.5rem;
}

.push-msg {
  display: flex;
}

.push-info {
  flex: 1;
}

.push-func {
  padding-right: 0.2rem;
  text-align: center;
}

.push-all-func {
  padding: 0 0.2rem 0.5rem 0;
  text-align: right;
}

.push-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--point-color);
  padding: 0.3rem;
}

.push-items.read {
  background: #eee;
  border-bottom: 1px solid #aaa;
}

.push-items.read i {
  color: #777 !important;
}

.push-items.read .push-msg-content {
  background: #ddd;
}

.push-img {
  flex: 1;
  text-align: center;
}

.push-img i {
  color: var(--push-color);
}

.push-main {
  flex: 6;
}

.push-when {
  font-size: 0.85rem;
  color: #999;
  text-align: right;
}

.push-msg-content {
  background: #eee;
  border-radius: 3px;
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  margin: 0.2rem;
}

.func-msg {
  display: block;
  color: var(--point-color);
  border-bottom: 1px solid var(--point-color);
  font-size: 0.95rem;
  margin-bottom: 0.3rem;
}
