<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/header") %>
    <link rel="stylesheet" href="/public/common/push_style.css" />
    <title>알림</title>
  </head>
  <body>
    <div class="wrapper">
      <% if(userType === '건물주') { %> <%- include ("../partials/navbar", {type: 'host',
      sel:'nav_push'}) %> <% } %> <% if(userType === '관리인') { %> <%- include
      ("../partials/navbar", {type: 'manager', sel:'nav_push'}) %> <% } %> <% if(userType ===
      '세입자') { %> <%- include ("../partials/navbar", {type: 'tenant', sel:'nav_push'}) %> <% } %>
      <%- include ("../partials/set-menu") %>

      <div class="push">
        <div class="push-contents">
          <div class="push-all-func">
            <span class="round-tag-border" onclick="location.href='/message/read/all'"
              >모두 읽음 처리</span
            >
          </div>
          <% if(messages){ messages.forEach(msg => { %>
          <!--Push Template Start-->
          <div class="push-items" isread="<%=msg.isRead%>">
            <div class="push-img">
              <% if(msg.msgType === 0) { %>
              <i class="fab fa-telegram-plane"></i>
              <% } %> <% if(msg.msgType === 1) { %>
              <i class="fas fa-tools"></i>
              <% } %>
            </div>
            <div class="push-main">
              <div class="push-msg">
                <% if(msg.msgType === 0) { %>
                <div class="push-info">
                  <% if(msg.sender_building_name) { %> <%= msg.sender_building_name %> <% } %> <%
                  if(msg.sender_roomNum) { %> <%= msg.sender_roomNum %>호 <% } %> <%=
                  msg.sender_type %> <%= msg.sender_name %>님이 메시지를 보냈어요.
                </div>
                <div class="push-func">
                  <span
                    class="func-msg isReadBt"
                    onclick="location.href='/message/read/<%= msg.msgID %>'"
                    >읽음</span
                  >
                  <span
                    class="func-msg"
                    onclick="location.href='/message?user_id=<%= msg.sender %>'"
                    >답장</span
                  >
                </div>
                <% } else if(msg.msgType === 1) { %>
                <div class="push-info">
                  <% if(msg.sender_building_name) { %> <%= msg.sender_building_name %> <% } %> <%
                  if(msg.sender_roomNum) { %> <%= msg.sender_roomNum %>호 <% } %> <%=
                  msg.sender_name %>님이 유지보수를 신청했어요.
                </div>
                <div class="push-func">
                  <span
                    class="func-msg isReadBt"
                    onclick="location.href='/message/read/<%= msg.msgID %>'"
                    >읽음</span
                  >
                  <span class="func-msg" onclick="location.href='/repair_list'">보기</span>
                </div>
                <% } %>
              </div>
              <p class="push-msg-content"><%= msg.content %></p>
              <div class="push-when">
                <span class="push-date"><%= msg.date %></span>
              </div>
            </div>
          </div>
          <!--Push Template End-->
          <% }); if(messages.length===0){ %>
          <div class="push-items">
            <div class="push-img">
              <i class="fas fa-times"></i>
            </div>
            <div class="push-main">
              <div class="push-msg">수신한 알림이 없어요.</div>
            </div>
          </div>
          <% } } else { %>
          <div class="push-items">
            <div class="push-img">
              <i class="fas fa-times"></i>
            </div>
            <div class="push-main">
              <div class="push-msg">수신한 알림이 없어요.</div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <script>
      const messages = document.querySelectorAll('.push-items');
      function loadMsgRead() {
        messages.forEach((msg) => {
          if (msg.getAttribute('isread') === '1') {
            msg.classList.add('read');
            msg.querySelector('.isReadBt').style.display = 'none';
          }
        });
      }
      window.addEventListener('load', loadMsgRead);
    </script>
  </body>
</html>
