.push-contents {
  padding-top: 1rem;
}

.push-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--point-color);
  padding: 0.3rem;
}

.push-img {
  flex: 1;
  text-align: center;
}

.push-img i {
  color: var(--push-color);
}

.push-main {
  flex: 6;
}

.push-when {
  font-size: 0.85rem;
  color: #999;
  text-align: right;
}
