.maintenance-title {
  font-size: 1.7rem;
  font-weight: 600;
  padding-left: 1.3rem;
  margin-bottom: 1rem;
}

.page-title {
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.current-page {
  flex: 1;
  border-bottom: 2px solid var(--point-color);
  margin: 0 1rem;
}

.other-page {
  flex: 1;
  margin: 0 1rem;
}

.maintenance-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 1.2rem;
  border-bottom: 1px solid var(--black-color);
  padding-top: 0.3rem;
}

.content-top {
  text-align: left;
  margin-left: 0.6rem;
}

.content-text {
  font-size: 1.5rem;
  overflow: hidden;
}

.content-bottom {
  display: flex;
  justify-content: space-around;
}

.open-more {
  text-align: center;
  margin: 1rem 0;
}

.open-more i {
  font-size: 2rem;
  color: var(--point-color);
}
