:root {
  --main-color: #424242;
  --white-color: white;
  --black-color: #212121;
  --push-color: #d60000;
}

html,
body {
  color: var(--white-color);
  background-color: var(--white-color);
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0 !important;
}

.bt {
  cursor: pointer;
}

i {
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

.wrapper {
  width: 375px !important;
  background-color: #212121;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  position: sticky;
  top: 0;
}

.navbar_main {
  display: flex;
}

.main_content {
  padding: 0 0.5rem;
  font-size: 1.2rem;
}

.main_content:hover {
  color: var(--black-color);
  font-weight: 600;
  background-color: #bcbcbc;
  border-radius: 0.5rem 0.5rem 0 0;
}

.navbar_setapp {
  padding: 0 0.5rem;
}

.navbar_setapp i {
  font-size: 1rem;
}

.navbar_setapp:hover {
  color: var(--black-color);
  font-weight: 600;
  background-color: #bcbcbc;
  border-radius: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid yellow;
}

.header_left {
  padding: 0 0.3rem;
}

#header_left_name {
  font-weight: 600;
}

#header_left_role {
  font-size: 0.8rem;
  font-weight: lighter;
}

#header_right_name {
  font-weight: 600;
}

#header_right_role {
  font-size: 0.8rem;
  font-weight: lighter;
}

.set_menu {
  background-color: #bcbcbc;
  color: var(--black-color);
  border-radius: 0.3rem;
  width: 6rem;
  text-align: center;
  display: none;
  position: absolute;
  top: 1.6rem;
  right: 0;
}

.set_menu.active {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content {
  border: 2px solid red;
}

.content_title {
  text-decoration: underline var(--main-color);
  font-weight: 550;
}

.content_name {
  font-weight: 600;
}

.mgr_title {
  font-size: 0.8rem;
  font-weight: lighter;
}

.mgr_name {
  font-weight: 600;
}

.pay_count {
  font-weight: 600;
  color: var(--push-color);
}

.pay_count_l,
.pay_count_r {
  font-size: 0.8rem;
  font-weight: lighter;
}

.repair_count_l,
.repair_count_r {
  font-size: 0.8rem;
  font-weight: lighter;
}

.repair_count {
  font-weight: 600;
  color: var(--push-color);
}

.builing_rooms {
  border: 2px solid purple;
}

.content_wrapper {
  display: flex;
  flex-direction: column;
}

#content_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid yellow;
  width: 100%;
  padding: 0.5rem 0;
}

.content_left {
  flex: 2;
  border-right: 2px solid green;
}

.content_mid {
  flex: 2;
  border-right: 2px solid green;
}

.content_right {
  flex: 0.5;
  border: 2px solid blue;
}

.content_msg {
  text-align: center;
}
