<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/header") %>
    <title>Homes 회원가입</title>
  </head>

  <body>
    <div class="wrapper view-main">
      <div class="reg-go-back">
        <i class="fas fa-arrow-left bt" onclick="location.href='/process/login'"></i>
      </div>
      <div class="div-login-box">
        <div class="div-title">회원가입</div>
        <div class="div-login-form">
                  <form class="form-reg" name="frm1" method="post">
                    <div class="div-wrapper-input">
                      <p class="div-message">회원 유형을 선택하세요!</p>
                      <label
                        ><input type="radio" id="host" name="type" value="건물주" onclick="setCookieType('type','host')"/>
                        <div class="div-type-bt">건물주</div>
                      </label>
      
                      <label
                        ><input type="radio" id="manager" name="type" value="관리인" onclick="setCookieType('type', 'manager')"/>
                        <div class="div-type-bt">관리인</div>
                      </label>
      
                      <label
                        ><input type="radio" id="tenant" name="type" value="세입자" onclick="setCookieType('type', 'tenant')"/>
                        <div class="div-type-bt">세입자</div>
                      </label>
                    </div>
                    <div class="div-wrapper-input">
                      <% if(locals.right===0){ %>
                        <input id="reg_id" name="id" placeholder="아이디" value="<%=inputId%>" autocomplete="off" required />
                        <input id="reg_submit_dupBt" type="submit" value="중복확인" onclick='btn_click("duplicate");'>
                        <p class="small-title" style="color: var(--push-color)">이미 사용 중인 아이디입니다.</p>
                      <% } else if(locals.right===1){ %>
                        <input id="reg_id" name="id" placeholder="아이디" readonly value="<%=inputId%>" autocomplete="off" required />
                        <input id="reg_submit_dupBt" type="submit" disabled=true value="중복확인" onclick='btn_click("duplicate");'>
                        <p class="small-title" style="color: var(--green-color)">사용할 수 있는 아이디입니다.</p>
                      <% } else { %>
                        <input id="reg_id" name="id" placeholder="아이디" value="<%=inputId%>" autocomplete="off" required />
                        <input id="reg_submit_dupBt" type="submit" value="중복확인" onclick='btn_click("duplicate");'>
                      <% } %>
                      </div>
                    <% if(locals.right != 1) { %>
                    <% } %>
                    <% if(locals.right === 1) { %>
                    <div class="div-wrapper-input">
                      <input
                        type="password"
                        name="pw"
                        id="reg_pw"
                        placeholder="비밀번호"
                        autocomplete="off"
                      />
                    </div>
                    <div class="div-wrapper-input">
                      <input
                        type="password"
                        id="checkpw"
                        placeholder="비밀번호 확인"
                        disabled=true
                        autocomplete="off"
                      />
                    </div>
                    <span id="msg_pw"></span>
                    <div class="div-wrapper-input">
                      <input id="reg_name" name="name" placeholder="성명" autocomplete="off" />
                    </div>
                    <div class="div-wrapper-input">
                      <input
                        id="reg_tel"
                        type="tel"
                        name="tel"
                        placeholder="휴대폰 번호(- 없이 입력)"
                        autocomplete="off"
                      />
                    </div>
                    <% } %>
                    <div class="div-wrapper-submit">
                      <input id="reg_submit_bt" type="submit" value="회원가입" disabled style="background-color: #bbb;" onclick='btn_click("register");'/>
                    </div>
                  </form>
                </div>
        </div>
      </div>
    </div>
    <script>
      const id = document.getElementById('reg_id');
      const password = document.getElementById('reg_pw');
      const passwordAgain = document.getElementById('checkpw');
      const passwordMsg = document.getElementById('msg_pw');
      const name = document.getElementById('reg_name');
      const tel = document.getElementById('reg_tel');
      const submitBt = document.getElementById('reg_submit_bt');
      const typeRadiobox = document.querySelectorAll('input[type="radio"]');
      let pwRight;

      typeRadiobox.forEach((b) => b.addEventListener('click', infoRight));
      id.addEventListener('keyup', infoRight);

      if(name){
        name.addEventListener('keyup', infoRight);
        password.addEventListener('keyup', isPasswordSame);
        password.addEventListener('keyup', isPasswordValid);
        passwordAgain.addEventListener('keyup', isPasswordSame);
        tel.addEventListener('keyup', infoRight);
      }
      
      submitBt.style.backgroundColor = '#bbb';

      function isPasswordValid() {
        if (password.value.length < 6) {
          passwordMsg.innerHTML = '비밀번호는 6자 이상으로 입력하세요.';
          passwordMsg.style.color = 'var(--push-color)';
          passwordAgain.disabled = true;
        } else {
          passwordMsg.innerHTML = '';
          passwordAgain.disabled = false;
        }
      }

      function isPasswordSame() {
        if (password.value != '' && passwordAgain.value != '') {
          if (password.value == passwordAgain.value) {
            passwordMsg.innerHTML = '비밀번호가 일치합니다!';
            passwordMsg.style.color = 'var(--green-color)';
            pwRight = true;
            infoRight();
          } else {
            passwordMsg.innerHTML = '비밀번호가 일치하지 않습니다.';
            passwordMsg.style.color = 'var(--push-color)';
            pwRight = false;
            infoRight();
          }
        }
      }

      function btn_click(str){
        if(str === "duplicate"){
          frm1.action = "/register/checkId";
        } else if(str === "register"){
          frm1.action = "/register";
        }
      }
      function infoRight() {
        if (
          checkRadiobox() &&
          id.value != '' &&
          pwRight == true &&
          name.value != '' &&
          tel.value != ''
        ) {
          submitBt.disabled = false;
          submitBt.style.backgroundColor = 'var(--blue-color)';
        } else {
          submitBt.disabled = true;
          submitBt.style.backgroundColor = '#bbb';
        }
      }

      function checkRadiobox() {
        const checkedRadiobox = document.querySelectorAll('input[type="radio"]:checked');
        if (checkedRadiobox.length > 0) {
          return true;
        } else {
          return false;
        }
      }

      function setCookieType(name, value){
        if(value=='host'){
          document.cookie = name+"="+value+";path=/";
        } else if(value=='manager'){
          document.cookie = name+"="+value+";path=/";
        } else if(value=='tenant'){
          document.cookie = name+"="+value+";path=/";
        }
      }

      function checkType(){
        function getCookie(cookie_name) {
            let x, y;
            const val = document.cookie.split(';');

            for (var i = 0; i < val.length; i++) {
                x = val[i].substr(0, val[i].indexOf('='));
                y = val[i].substr(val[i].indexOf('=') + 1);
                x = x.replace(/^\s+|\s+$/g, ''); // 앞과 뒤의 공백 제거하기
                if (x == cookie_name) {
                    return unescape(y); // unescape로 디코딩 후 값 리턴
                }
            }
        }

        let type = getCookie("type");
        if(type=="host"){
          document.getElementById('host').checked=true;
        } else if(type=="manager"){
          document.getElementById('manager').checked=true;
        } else if(type=="tenant"){
          document.getElementById('tenant').checked=true;
        }
      }
      checkType();
    </script>
  </body>
</html>
