<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/header") %>
    <link rel="stylesheet" href="/public/manager/mgr_style.css" />
    <title>관리인</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include ("../partials/navbar", {type: 'manager', sel:'nav_home'}) %>

      <div class="header">
        <div class="header-left">
          <span id="header_left_name"> <%=name%> </span>
          <span id="header_left_role">관리인님,</span>
          <p id="welcome_message">안녕하세요!</p>
        </div>
      </div>

      <%- include ("../partials/set-menu") %>

      <div class="content">
        <div class="content-title">내가 관리하는 건물</div>
        <div class="content-wrapper">
          <!-- 관리 건물 하나 이상 -->
          <% if(manager_data.length>0){manager_data.forEach((manager)=> { %>
          <div class="belongs">
            <div class="belongs-top">
              <div class="belongs-top-left">
                <div
                  class="belongs-details"
                  onclick="location.href='/manager/aden/<%=manager.buildingNum%>'"
                >
                  <span class="belongs-title"><%=manager.building_name%></span>
                  <div class="belongs-maintenance">
                    <% if (manager.Unsolved > 0) { %>
                    <span class="maintenance-title">유지보수</span>
                    <span class="red-count mgr-count"><%=manager.Unsolved%></span>
                    <% } %>
                  </div>
                </div>
                <div class="belongs-phnum">
                  <span class="belongs-bottom-title">건물주 </span>
                  <span class="round-tag-border"><%=manager.hostName%></span>
                  <span class="round-tag-border" id="phnum">📞 <%=manager.hostTel%></span>
                </div>
                <div class="belongs-bottom">
                  <span class="belongs-addr"> <%=manager.building_addr%> </span>
                </div>
              </div>
              <div
                class="belongs-top-right"
                onclick="location.href='/message?buildingNum=<%= manager.buildingNum %>'"
              >
                <i class="fab fa-telegram-plane"></i>
              </div>
            </div>
          </div>
          <% }); %>
          <!-- 관리 건물 하나 이상 끝-->
          <!-- 관리 건물 없을 경우-->
        </div>
        <% } else { %>
        <div class="empty-case">
          <div>
            <i class="fas fa-ban"></i>
          </div>
          <p>표시할 방이 없어요</p>
          <p>임대인에게 세입자 등록을 요청하세요!</p>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
