<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/public/common/main_style.css" />
    <link rel="stylesheet" href="/public/manager/mgr_aden_style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto Sans KR" />
    <script src="/public/common/module.js" defer></script>
    <script src="/public/manager/mgr_nav.js" defer></script>
    <script src="https://kit.fontawesome.com/69cc74444b.js" crossorigin="anonymous"></script>
    <title>관리인_건물정보</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="top-navbar-wrapper">
        <div class="navbar-left-items">
          <div class="navbar-item bt selected" id="nav_home">홈</div>
          <div class="navbar-item bt" id="nav_push">알림</div>
          <div class="navbar-item bt" id="nav_function">기능</div>
        </div>
        <div class="navbar-setapp bt">
          <i class="fas fa-cog"></i>
        </div>
      </div>

      <div class="set-menu">
        <div class="set-account bt">계정관리</div>
        <div class="set-notice bt">공지사항</div>
        <div class="set-push bt">알림설정</div>
        <div class="set-logout bt">로그아웃</div>
      </div>

      <div id="go_back" onclick="location.href='/manager/'">
        <i class="fas fa-arrow-left bt"></i>
      </div>

      <div class="content">
        <div class="content-title"><%=building_name%></div>
        <% if(locals.room_data){room_data.forEach((room)=>{ %>
        <div class="builing-rooms">
          <div class="room">
            <div class="room-left">
              <div class="room-main">
                <div class="room-main-left">
                  <span class="room-num"><%=room.roomNum%>호</span>
                </div>
                <div class="room-main-right">
                  <div class="room-maintenance">
                    <% if(room.Unsolved>0) { %>
                    <span class="room-maintenance-title">유지보수</span>
                    <span class="red-count"><%=room.Unsolved%></span><% } %>
                  </div>
                </div>
              </div>
              <% if(room.name!==null){ %>
              <div class="room-main-bottom">
                <span class="round-tag-border"><%=room.name%></span>
                <span class="round-tag-border">📞 <%=room.tel%></span>
              </div>
              <% } %> <% if(room.name===null){ %>
              <div class="room-main-bottom">
                <span class="round-tag-border">세입자 없음</span>
              </div>
              <% } %>
            </div>

            <div class="room-right">
              <div
                class="content-msg"
                onclick="location.href='/message?user_id=<%= room.tenantID %>'"
              >
                <i class="fab fa-telegram-plane"></i>
              </div>
            </div>
          </div>
        </div>
        <% });} %>
      </div>
    </div>
  </body>
</html>
