.room {
  display: flex;
  padding: 0.7rem 0.4rem;
  background: white;
  border-radius: 5px;
  margin-bottom: 10px;
  flex-direction: column;
}

.room-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--point-color);
}

.room-main-left {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.3rem;
}

.room-tnt {
  font-weight: 600;
  font-size: 1.5rem;
}

.room-main-right {
  flex: 1;
}

.room-maintenance {
  font-size: 1.2rem;
}

.room-maintenance-cnt {
  font-weight: 600;
  color: var(--white-color);
  background: var(--push-color);
  border-radius: 6px;
  padding: 0 0.2rem;
}

.room-bottom {
  padding-left: 1rem;
  padding-top: 0.4rem;
}
