.room {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0;
  background: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.room-left {
  flex: 1;
}

.room-num {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 0.05rem;
}

.room-right {
  padding-right: 0.4rem;
}

.room-main {
  display: flex;
  padding-bottom: 0.6rem;
}

.room-main-left {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
}

.room-main-right {
  flex: 2;
}

.room-maintenance {
  font-size: 1rem;
  padding-left: 1rem;
}

.room-maintenance-cnt {
  color: var(--white-color);
  background: var(--push-color);
  border-radius: 6px;
  padding: 0 0.2rem;
  font-size: 0.9rem;
}

.room-main-bottom {
  padding-left: 1rem;
}

.content-msg i {
  font-size: 1.7rem;
}
