.belongs {
  background-color: var(--white-color);
  padding: 0.6rem 0;
  border-radius: 5px;
  margin-bottom: 10px;
}

.belongs-top {
  display: flex;
  justify-content: space-between;
}

.belongs-top-left {
  flex: 8;
}

.belongs-details {
  display: flex;
  justify-content: space-between;
}

.belongs-title {
  font-size: 1.3rem;
  font-weight: 600;
  padding-left: 0.7rem;
}

.belongs-maintenance {
  margin-right: 1.6rem;
  font-size: 1rem;
}

.maintenance-count {
  background-color: var(--push-color);
  color: var(--white-color);
  border-radius: 5px;
  padding: 0 0.2rem;
  font-size: 0.9rem;
}

.belongs-phnum {
  padding: 0.3rem 0.6rem 0;
}

#phnum {
  margin-left: 0.5rem;
}

.belongs-top-right {
  flex: 1;
  padding-right: 0.3rem;
}

.belongs-top-right i {
  font-size: 1.7rem;
  color: var(--push-color);
}

.belongs-bottom {
  margin-top: 0.6rem;
  margin-left: 0.5rem;
}

.belongs-addr {
  font-size: 0.9rem;
}
