.room {
  display: flex;
  padding: 0.7rem 0.4rem;
  background: white;
  border-radius: 5px;
  margin-bottom: 10px;
  flex-direction: column;
  box-shadow: 0px 3px 4px -0.5px var(--soft-gray-color);
}

.room-main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.room-num {
  font-size: 1.15rem;
  font-weight: 700;
}

.room-main-left,
.room-main-right {
  display: flex;
  flex-direction: column;
}

.room-main-left {
  flex: 1.3;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 0.3rem;
}

.room-info {
  display: flex;
  flex-direction: column;
}

.room-tnt {
  font-size: 1.2rem;
}

.room-main-mid {
  flex: 2;
  font-size: 0.85rem;
}

.room-main-right {
  flex: 0.5;
}

.room-maintenance {
  padding-top: 0.3rem;
}

.room-bottom {
  padding-left: 0.3rem;
}

.room-memo-wrapper {
  margin-top: 0.6rem;
  display: flex;
}

.room-memo-wrapper i {
  font-size: 1.6rem;
  color: dodgerblue;
}

.room-memo {
  resize: none;
  overflow: scroll;
  width: 97%;
  height: 5rem;
  font-size: 0.9rem;
  border: 1px solid var(--point-soft-color);
  border-radius: 4px;
  flex: 1;
}

.memo-toggle {
  width: fit-content;
  margin-top: 0.5rem;
  background: var(--soft-green-color);
  border: none;
}

.top-flex {
  display: flex;
}

#right_bt {
  flex: 1;
  text-align: right;
}
