<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/header") %>
    <link rel="stylesheet" href="/public/host/management_style.css" />
    <title>건물주 관리</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include ("../partials/navbar", {type: 'host', sel:'nav_management'}) %> <%- include
      ("../partials/set-menu") %>

      <div class="set-menu">
        <div class="set-account bt">계정관리</div>
        <div class="set-notice bt">공지사항</div>
        <div class="set-push bt">알림설정</div>
        <div class="set-logout bt">로그아웃</div>
      </div>

      <div class="mgmt-list">
        <div class="mgmt-list-item bt" onclick="location.href='/host/management/register'">
          <span class="item-title">건물 등록</span>
          <i class="fas fa-angle-right"></i>
        </div>
        <div class="mgmt-list-item bt" onclick="location.href='/host/management/modify'">
          <span class="item-title">내 건물 설정</span>
          <i class="fas fa-angle-right"></i>
        </div>
      </div>
    </div>
  </body>
</html>
