<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/header") %>
    <link rel="stylesheet" href="/public/host/management_style.css" />
    <title>건물주 관리</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include ("../partials/navbar", {type: 'host', sel:'nav_management'}) %>

      <div class="view-main-contents">
        <div class="mgmt-list">
          <div class="mgmt-list-item bt" onclick="location.href='/host/management/register'">
            <span class="item-title">건물 등록</span>
            <i class="fas fa-angle-right"></i>
          </div>
          <div class="mgmt-list-item bt" onclick="location.href='/host/management/modify'">
            <span class="item-title">내 건물 설정</span>
            <i class="fas fa-angle-right"></i>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
