<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/header") %>
    <link rel="stylesheet" href="/public/host/mgmt_register_style.css" />
    <link rel="stylesheet" href="/public/host/postcode.css" />
    <script src="/public/host/mgmt_register.js" defer></script>
    <title>관리-건물등록</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include ("../partials/navbar", {type: 'host', sel:'nav_management'}) %>

      <div class="view-main-contents">
        <div id="go_back" onclick="location.href='/host/management';">
          <i class="fas fa-arrow-left bt"></i>
        </div>

        <div id="reg_title">건물 등록</div>

        <form class="reg-list" action="/host/management/reg_submit" method="POST">
          <div class="reg-content">
            <p class="reg-msg">
              건물의 주소를 알려주세요.
              <button id="post_bt">주소 검색</button>
            </p>
            <div class="addr-wrapper">
              <div class="addr-left">
                <input type="text" id="address" placeholder="주소" readonly required/><br />
                <input type="text" id="detailAddress" placeholder="상세주소 (선택 입력)" />
              </div>
              <div class="addr-right">
                <button id="addr_confirm">완료</button>
              </div>
            </div>

            <div id="wrap" style="display: none; margin: 5px 0; position: relative">
              <img
                src="//t1.daumcdn.net/postcode/resource/images/close.png"
                id="btnFoldWrap"
                style="cursor: pointer; position: absolute; right: 0px; top: -1px; z-index: 1"
                onclick="foldDaumPostcode()"
                alt="접기 버튼"
              />
            </div>

            <input class="input-content" name="building_addr" type="text" required readonly />
          </div>
          <div class="reg-content">
            <p class="reg-msg">건물의 이름을 알려주세요.</p>
            <input class="input-content" name="building_name" type="text" required />
            <p>건물명이 없을시 지번을 입력하세요 (예: 19-1번지)</p>
          </div>
          <div class="reg-content">
            <p class="reg-msg">세입자가 참고할 계좌번호를 알려주세요.</p>
            <input class="input-content" name="bank_account" type="text" required />
            <p>예) 국민 123-456789-123</p>
          </div>

          <div class="reg-content">
            <p class="reg-msg">관리인이 있나요?</p>
            <div class="check-wrapper">
              <label>
                <input type="checkbox" id="isNoManager_checkbox" /> 건물주가 관리해요 / 아직 없어요
              </label>
            </div>
            <input
              class="input-content"
              name="managerID"
              type="text"
              placeholder="관리인의 아이디를 입력하세요!"
              required
            />
          </div>

          <div class="reg-content">
            <p class="reg-msg">세대 수 설정만 남았어요!</p>
            <div id="floor_adj">
              <button id="add_bt">층 추가</button>
              <button id="del_bt">층 삭제</button>
            </div>
            <input id="floor_count_hidden" type="hidden" name="floor_count" value="1" required />
            <div id="floor_list">
              <div class="cur-floor" value="1">
                <div class="room-floor">1층</div>
                <div class="room-count">
                  <input
                    class="room-num"
                    name="floor_1"
                    type="number"
                    min="1"
                    max="99"
                    step="1"
                    value="1"
                  />
                  세대
                </div>
              </div>
            </div>
          </div>

          <div class="reg-content">
            <input id="submit_content" type="submit" value="건물 등록하기" />
          </div>
        </form>
      </div>
    </div>

    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
      const addrWrap = document.querySelector('.addr-wrapper');
      const postConfirmBt = document.querySelector('#addr_confirm');
      const postTarget = document.querySelector('input[name="building_addr"]');
      const postSearchBt = document.querySelector('#post_bt');

      postSearchBt.addEventListener('click', execDaumPostcode);

      postConfirmBt.addEventListener('click', (e) => {
        e.preventDefault();
        const addr1 = document.querySelector('#address').value;
        const addr2 = document.querySelector('#detailAddress').value;
        postTarget.value = `${addr1} ${addr2}`;
        postTarget.style.display = 'block';
        addrWrap.style.display = 'none';
      });

      const element_wrap = document.getElementById('wrap');

      function foldDaumPostcode() {
        element_wrap.style.display = 'none';
        addrWrap.style.display = 'none';
      }

      function execDaumPostcode(e) {
        e.preventDefault();
        // 현재 scroll 위치를 저장해놓는다.
        const currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        new daum.Postcode({
          oncomplete: function (data) {
            let addr = '';

            if (data.userSelectedType === 'R') {
              addr = data.roadAddress;
            } else {
              addr = data.jibunAddress;
            }

            addrWrap.style.display = 'flex';
            document.getElementById('address').value = addr;
            document.getElementById('detailAddress').focus();

            element_wrap.style.display = 'none';

            document.body.scrollTop = currentScroll;
          },
          onresize: function (size) {
            element_wrap.style.height = size.height + 'px';
          },
          width: '100%',
          height: '100%',
        }).embed(element_wrap);

        // iframe을 넣은 element를 보이게 한다.
        element_wrap.style.display = 'block';
      }
    </script>
  </body>
</html>
