<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/public/common/main_style.css" />
    <link rel="stylesheet" href="/public/host/management_style.css" />
    <link rel="stylesheet" href="/public/host/mgmt_modify_building.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto Sans KR" />
    <script src="/public/common/module.js" defer></script>
    <script src="/public/host/host_nav.js" defer></script>
    <script src="/public/host/mgmt_modify_building.js" defer></script>
    <script src="https://kit.fontawesome.com/69cc74444b.js" crossorigin="anonymous"></script>
    <title>관리-건물관리</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="navbar">
        <div class="navbar-main">
          <div class="main-content bt" id="nav_home">홈</div>
          <div class="main-content bt" id="nav_push">알림</div>
          <div class="main-content bt" id="nav_function">기능</div>
          <div
            class="main-content bt selected_menu"
            onclick="location.href='/host/management'"
            id="nav_management"
          >
            관리
          </div>
        </div>
        <div class="navbar-setapp bt">
          <i class="fas fa-cog"></i>
        </div>
      </div>

      <div class="set-menu">
        <div class="set-account bt">계정관리</div>
        <div class="set-notice bt">공지사항</div>
        <div class="set-push bt">알림설정</div>
        <div class="set-logout bt">로그아웃</div>
      </div>

      <div id="go_back" onclick="location.href='/host/management/modify'">
        <i class="fas fa-arrow-left bt"></i>
      </div>
      <div class="content-wrapper">
          <div class="setting-wrapper">
            <div class="setting-title">건물명</div>
            <form class="setting-content" name="building_name" method="POST" action="/host/modify/submit/building_name">
            <input type="hidden" name="buildingNum" value="<%= buildingNum %>" />
            <input name="newData" id="building_name" value="<%= building_name %>">
            <input type="submit" class="setting-submit" value="저장">
          </form>
        </div>
        <div class="setting-wrapper">
            <div class="setting-title">주소</div>
            <form class="setting-content" name="building_addr" method="POST" action="/host/modify/submit/building_addr">
            <input type="hidden" name="buildingNum" value="<%= buildingNum %>" />
            <input name="newData" id="building_addr" value="<%= building_addr %>">
            <input type="submit" class="setting-submit" value="저장">
            </form>
        </div>
        <div class="setting-wrapper">
          <div class="setting-title">관리인</div>
          <form class="setting-content" name="building_addr" method="POST" action="/host/modify/submit/managerID">
          <input type="hidden" name="managerID" value="<%= buildingNum %>" />
          <input name="newData" id="building_managerID" value="<%= manager_name %>(<%= managerID %>)">
          <input type="submit" class="setting-submit" value="저장">
          </form>
      </div>

        <div class="setting-room-wrapper">
            <div class="setting-room-title">세대 관리</div>
            <div class="setting-room-all">
                <div class="setting-room-all-title">일괄 설정</div>
                <form class="setting-room-all-content" name="payment-all" action="/host/modify/submit/payment-all" method="POST">
                  <input type="hidden" name="buildingNum" value="<%= buildingNum %>" />
                    <div><label>
                        <input type="radio" name="all_payType" value="0" checked>월세
                    </label>
                    <label>
                        <input type="radio" name="all_payType" value="1">전세
                    </label></div>
                    <div id="setting_room_all_payment">
                        <input class="payment" name="all_payCash" placeholder="금액(숫자) 입력" />원</div>
                </form>
                <div class="setting-room-all-submit">
                  <input type="submit" class="setting-all-room-submit" value="저장">
                </div>
            </div>
            <p class='content-msg small' style='margin:0;'>일괄설정시 모든 세대가 변경되므로 주의하세요!</p>
        </div>
        <div class="setting-room-wrapper">
          <% rooms.forEach(room => { %>
          <!--세대 템플릿 시작-->
            <div class="setting-each-room-wrapper">
                <form class="room-content" name="tenant_<%= room.roomNum %>" action="/host/modify/submit/tenant" method="POST">
                  <div class="room-each-content bold">
                  <input type="hidden" name="buildingNum" value="<%= buildingNum %>" />
                  <input type="hidden" name="roomID" value="<%= room.roomID %>" />
                    <div class="room-num-wrapper"><span class="room-num"><%= room.roomNum %>호</span>
                      <input type="submit" class="round-tag-border room-submit" value="저장"></div>세입자<input name="tenantID" class="payment tenant tenantid" value="<%= room.tenantID %>" placeholder="아이디 입력"><% if(room.tenant_name){ %>(<%= room.tenant_name %>)
                        <label class="delete-tenant-check-label"><input class="delete-tenant-check" type="checkbox" room-num="<%= room.roomNum %>" original-tid="<%= room.tenantID %>" />삭제</label><% } else { %> <label class="delete-tenant-check-label" style="margin-left: 4rem;"><input class="delete-tenant-check" type="checkbox" room-num="<%= room.roomNum %>" original-tid="<%= room.tenantID %>" />삭제</label> <% } %>

                  </div>
                    <div class="room-each-content"><label>
                        <input class="checkPayMonth" room-num="<%= room.roomNum %>" type="radio" name="payType" value="0" <% if(room.payment_type == 0){ %>checked<% } %>>월세
                    </label>
                    <label>
                        <input class="checkPayMonth" room-num="<%= room.roomNum %>" type="radio" name="payType" value="1" <% if(room.payment_type == 1){ %>checked<% } %>>전세
                    </label><input name="payCash" class="payment tenant" 
                    value="<%= room.payment_cash %>"
                    placeholder="금액(숫자) 입력" />원</div>
                    <div class="room-each-content" payday-room-num="<%= room.roomNum %>">
                    <span>월세 정산일 (매월 납부일)</span>
                      <input type="number" name="payment_month_day" class="payment tenant" 
                    value="<%= room.payment_month_day %>" min="0" max="31" step="1" style="width: 3rem;margin-left: 1.45rem;" />일</div>
                    <div class="room-each-content">
                      <span>입주기간</span>
                        <input type="date" name="begin_date" class="payment date" 
                      value="<%= room.begin_date %>" min="1" max="31" step="1" style="margin-left: 2rem;" />부터</div>
                      <div class="room-each-content">
                      <input type="date" name="end_date" class="payment date" 
                    value="<%= room.end_date %>" min="1" max="31" step="1" style="margin-left: 5.9rem;" />까지
                    </div>
                </form>
            </div>
            <!--세대 템플릿 끝-->
            <% }); %>
        </div>
      </div>
  </body>
</html>
