<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/header") %>
    <link rel="stylesheet" href="/public/host/management_style.css" />
    <title>관리-내건물설정-리스트</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include ("../partials/navbar", {type: 'host', sel:'nav_management'}) %>
      
      <div class="view-main-contents">

      <div id="go_back" onclick="location.href='/host/management';">
        <i class="fas fa-arrow-left bt"></i>
      </div>

      <div class="content">
        <div class="content-title">내 건물 설정</div>
        <div class="content-wrapper">
          <!--forEach문 시작-->
          <% if(locals.building_data) {building_data.forEach((building)=>{ %>
          <!--건물 한개 시작-->
          <!--div value: 건물 id -> 모든 구분은 이 value로-->
          <div class="building-wrapper" onclick="location.href='/host/management/modify/<%= building.id %>';">
            <div class="content-building" value="1">
              <div class="content-left bt">
                <div class="content-name"><%= building.building_name %></div>
              </div>

              <div class="content-mid"><%= building.building_addr %></div>
          </div>
        </div>
          <!--건물 한개 끝-->
          <% });} %>
          <!--건물 없는 경우-->
          <% if(!locals.building_data) { %>
          <div class="empty-case">
            <div>
              <i class="fas fa-ban"></i>
            </div>
            <p>표시할 건물이 없어요</p>
            <button id="mgmt_register_bt" onclick="location.href='host/management/register';">
              내 건물 등록하기
            </button>
          </div>
          <% } %>
      </div>
    </div></div>
  </body>
</html>
