.set-menu {
  z-index: 2;
}

.reg-content {
  padding: 0.3rem 0;
  width: 95%;
}

#reg_title {
  font-size: 1.7rem;
  font-weight: 600;
  padding-left: 1.3rem;
}

.reg-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

p {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 0;
}

p.reg-msg {
  color: #666;
  font-weight: 600;
  text-align: left;
  font-size: 1.2rem;
  padding: 0.6rem 0 0.8rem 0.3rem;
}

.reg-button {
  padding-top: 1.5rem;
  text-align: center;
}

.input-content {
  outline: none;
  font-size: 1rem;
  width: 21rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #888;
}

#submit_content {
  margin-top: 1rem;
  font-size: 1.3rem;
  padding: 0.3rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: var(--point-color);
  color: var(--white-color);
}

#floor_adj {
  margin-bottom: 0.7rem;
}

#floor_adj button {
  font-size: 1.1rem;
  width: 10.5rem;
  padding: 0.4rem;
  border: var(--white-color);
  color: var(--white-color);
  border-radius: 1rem;
}

#add_bt {
  background: rgb(82, 142, 255);
}

#del_bt {
  background: rgb(250, 128, 148);
}

#floor_adj {
  padding: 0.5rem 0;
}

.cur-floor {
  background: rgb(246, 246, 246);
  border-radius: 13px;
  display: flex;
  align-items: center;
  padding: 0.4rem;
  margin: 0.5rem;
}

.room-floor {
  flex: 1;
  font-size: 1.1rem;
}

.room-count {
  flex: 1;
  font-size: 1.1rem;
}

.room-num {
  width: 4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.3rem;
  text-align: center;
}

.check-wrapper {
  text-align: left;
  color: #555;
  margin-bottom: 0.4rem;
}
