<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/header") %>
    <link rel="stylesheet" href="/public/host/management_style.css" />
    <link rel="stylesheet" href="/public/host/mgmt_modify_building.css" />
    <link rel="stylesheet" href="/public/host/postcode.css" />
    <script src="/public/host/mgmt_modify_building.js" defer></script>
    <title>관리-건물관리</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include ("../partials/navbar", {type: 'host', sel:'nav_management'}) %>
      
      <div class="view-main-contents">


      <div id="go_back" onclick="location.href='/host/management/modify'">
        <i class="fas fa-arrow-left bt"></i>
      </div>
      <div class="content-wrapper">
          <div class="setting-wrapper">
            <div class="setting-title">건물명</div>
            <form class="setting-content" name="building_name" method="POST" action="/host/modify/submit/building_name">
            <input type="hidden" name="buildingNum" value="<%= buildingNum %>" />
            <input name="newData" id="building_name" value="<%= building_name %>">
            <input type="submit" class="setting-submit" value="저장">
          </form>
        </div>
        <div class="setting-wrapper">
            <div class="setting-title">주소<button id="post_bt">검색</button></div>
            <form class="setting-content" name="building_addr" method="POST" action="/host/modify/submit/building_addr">
            <input type="hidden" name="buildingNum" value="<%= buildingNum %>" />
            <input name="newData" id="building_addr" value="<%= building_addr %>" readonly />
            <input type="submit" class="setting-submit" value="저장">
            </form>
        </div>
        <!-- POSTCODE -->
        <div class="addr-wrapper">
          <div class="addr-left">
            <input type="text" id="address" placeholder="주소" readonly /><br />
            <input type="text" id="detailAddress" placeholder="상세주소 (선택 입력)" />
          </div>
          <div class="addr-right">
            <button id="addr_confirm">입력</button>
          </div>
        </div>

        <div id="wrap" style="display: none; margin: 5px 0; position: relative">
          <img
            src="//t1.daumcdn.net/postcode/resource/images/close.png"
            id="btnFoldWrap"
            style="cursor: pointer; position: absolute; right: 0px; top: -1px; z-index: 1"
            onclick="foldDaumPostcode()"
            alt="접기 버튼"
          />
        </div>
        <!-- POSTCODE END -->
        <div class="setting-wrapper">
          <div class="setting-title">관리인</div>
          <form class="setting-content" name="building_addr" method="POST" action="/host/modify/submit/managerID">
          <input type="hidden" name="managerID" value="<%= buildingNum %>" />
          <input name="newData" id="building_managerID" value="<%= manager_name %>(<%= managerID %>)">
          <input type="submit" class="setting-submit" value="저장">
          </form>
      </div>

        <div class="setting-room-wrapper">
            <div class="setting-room-title">세대 관리</div>
            <div class="setting-room-all">
                <div class="setting-room-all-title">일괄 설정</div>
                <form class="setting-room-all-content" name="payment-all" action="/host/modify/submit/payment-all" method="POST">
                  <input type="hidden" name="buildingNum" value="<%= buildingNum %>" />
                    <div><label>
                        <input type="radio" name="all_payType" value="0" checked>월세
                    </label>
                    <label>
                        <input type="radio" name="all_payType" value="1">전세
                    </label></div>
                    <div id="setting_room_all_payment">
                        <input class="payment" name="all_payCash" placeholder="금액(숫자) 입력" />원</div>
                </form>
                <div class="setting-room-all-submit">
                  <input type="submit" class="setting-submit" value="저장" onclick="document.querySelector(`form[name='payment-all']`).submit()">
                </div>
            </div>
            <p class='content-msg small' style='margin:0;'>일괄설정시 모든 세대가 변경되므로 주의하세요!</p>
        </div>
        <div class="setting-room-wrapper">
          <% rooms.forEach(room => { %>
          <!--세대 템플릿 시작-->
            <div class="setting-each-room-wrapper">
                <form class="room-content" name="tenant_<%= room.roomNum %>" action="/host/modify/submit/tenant" method="POST">
                  <div class="room-each-content bold">
                  <input type="hidden" name="buildingNum" value="<%= buildingNum %>" />
                  <input type="hidden" name="roomID" value="<%= room.roomID %>" />
                    <div class="room-num-wrapper"><span class="room-num"><%= room.roomNum %>호</span>
                      <input type="submit" class="setting-submit room-submit" value="저장"></div>
                      <div class="room-tenant-info">세입자<input name="tenantID" class="payment tenant tenantid" value="<%= room.tenantID %>" placeholder="아이디 입력"><% if(room.tenant_name){ %>(<%= room.tenant_name %>)
                        <label class="delete-tenant-check-label"><input class="delete-tenant-check" type="checkbox" room-num="<%= room.roomNum %>" original-tid="<%= room.tenantID %>" />삭제</label><% } else { %> <label class="delete-tenant-check-label" style="margin-left: 4rem;"><input class="delete-tenant-check" type="checkbox" room-num="<%= room.roomNum %>" original-tid="<%= room.tenantID %>" />삭제</label> <% } %></div>

                  </div>
                    <div class="room-each-content"><label>
                        <input class="checkPayMonth" room-num="<%= room.roomNum %>" type="radio" name="payType" value="0" <% if(room.payment_type == 0){ %>checked<% } %>>월세
                    </label>
                    <label>
                        <input class="checkPayMonth" room-num="<%= room.roomNum %>" type="radio" name="payType" value="1" <% if(room.payment_type == 1){ %>checked<% } %>>전세
                    </label><input name="payCash" class="payment tenant cash" 
                    value="<%= room.payment_cash %>"
                    placeholder="금액(숫자) 입력" />원</div>
                    <div class="room-each-content" payday-room-num="<%= room.roomNum %>">
                    <span>월세 정산일 / 입주기간</span>
                      <input type="number" name="payment_month_day" class="payment tenant day" 
                    value="<%= room.payment_month_day %>" min="0" max="31" step="1" /> 일</div>
                    <div class="room-each-content">
                      <input type="date" name="begin_date" class="payment date" 
                      value="<%= room.begin_date %>" min="1" max="31" step="1"/>~
                      <input type="date" name="end_date" class="payment date" 
                    value="<%= room.end_date %>" min="1" max="31" step="1"/>
                    </div>
                </form>
            </div>
            <!--세대 템플릿 끝-->
            <% }); %>
        </div>
        <input id="submit_content" type="submit" value="건물 삭제하기" />
      </div>
    </div>

      <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
      const addrWrap = document.querySelector('.addr-wrapper');
      const postConfirmBt = document.querySelector('#addr_confirm');
      const postTarget = document.querySelector('input#building_addr');
      const postSearchBt = document.querySelector('#post_bt');

      postSearchBt.addEventListener('click', execDaumPostcode);

      postConfirmBt.addEventListener('click', (e) => {
        e.preventDefault();
        const addr1 = document.querySelector('#address').value;
        const addr2 = document.querySelector('#detailAddress').value;
        postTarget.value = `${addr1} ${addr2}`;
        postTarget.style.display = 'block';
        addrWrap.style.display = 'none';
      });

      const element_wrap = document.getElementById('wrap');

      function foldDaumPostcode() {
        element_wrap.style.display = 'none';
        addrWrap.style.display = 'none';
      }

      function execDaumPostcode(e) {
        e.preventDefault();
        // 현재 scroll 위치를 저장해놓는다.
        const currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        new daum.Postcode({
          oncomplete: function (data) {
            let addr = '';

            if (data.userSelectedType === 'R') {
              addr = data.roadAddress;
            } else {
              addr = data.jibunAddress;
            }

            addrWrap.style.display = 'flex';
            document.getElementById('address').value = addr;
            document.getElementById('detailAddress').focus();

            element_wrap.style.display = 'none';

            document.body.scrollTop = currentScroll;
          },
          onresize: function (size) {
            element_wrap.style.height = size.height + 'px';
          },
          width: '100%',
          height: '100%',
        }).embed(element_wrap);

        // iframe을 넣은 element를 보이게 한다.
        element_wrap.style.display = 'block';
      }
    </script>
  </body>
</html>
