#repair_content {
  margin: 0 1rem;
}

#repair_title {
  font-size: 1.25rem;
  font-weight: 700;
  padding-left: 1rem;
}

#repair_form {
  text-align: center;
}

#repair_title {
  padding: 0;
  text-align: left;
}

#title_msg {
  margin: 0;
  color: #666;
  font-weight: 600;
  text-align: left;
  font-size: 1.1rem;
  padding: 1.4rem 0 0.5rem 0.3rem;
}

#input_content {
  outline: none;
  font-size: 1rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid #888;
  margin-bottom: 1rem;
}

#img_thumbnail {
  display: none;
  width: 100%;
  height: 13rem;
  border-radius: 5px;
  border: 2px solid #ddd;
}

#img_explain {
  display: inline-block;
  position: absolute;
  text-align: center;
  font-size: 1.1rem;
  color: var(--soft-gray-color);
}

img {
  width: 100%;
  height: 13rem;
  border-radius: 5px;
}

#img_upload {
  position: absolute;
  display: hidden;
  clip: rect(0, 0, 0, 0);
}

label {
  display: inline-block;
  padding: 0.3rem 1.5rem;
  color: var(--blue-color);
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--white-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 0.5rem;
}

textarea {
  margin-top: 1rem;
  resize: none;
  width: 100%;
  height: 5rem;
  font-size: 1rem;
  padding: 0.5rem;
  overflow: scroll;
  border: 1px solid var(--soft-gray-color);
  border-radius: 0.5rem;
}

#submit_content {
  margin-top: 1rem;
  width: 15rem;
  font-size: 1rem;
  padding: 0.35rem;
  border: none;
  border-radius: 5px;
  background-color: var(--point-color);
  color: var(--white-color);
  box-shadow: 0px 3px 4px -0.5px var(--soft-gray-color);
}
