#repair_content {
  margin: 0 1rem;
}

#repair_title {
  font-size: 1.7rem;
  font-weight: 600;
  padding-left: 1.3rem;
  padding-bottom: 1rem;
}

#repair_form {
  padding: 0 1rem;
  text-align: center;
}

#img_thumbnail {
  width: 100%;
  height: 13rem;
  border-radius: 5px;
  border: 2px solid #cfd8dc;
}

#img_explain {
  font-size: 1.7rem;
  color: #b0bec5;
  position: absolute;
  width: 19rem;
  margin-top: 4rem;
  margin-left: 0.3rem;
}

img {
  width: 100%;
  height: 13rem;
  border-radius: 5px;
}

#img_upload {
  position: absolute;
  display: hidden;
  clip: rect(0, 0, 0, 0);
}

label {
  display: inline-block;
  padding: 0.3rem 1.5rem;
  color: var(--point-color);
  font-size: 1rem;
  background-color: var(--white-color);
  border: 1px solid #cfd8dc;
  border-radius: 5px;
  margin-top: 0.5rem;
}

textarea {
  margin-top: 2rem;
  resize: none;
  width: 100%;
  height: 9.5rem;
  font-size: 1.7rem;
  padding: 0;
  overflow: scroll;
  border-radius: 0.5rem;
}

#submit_content {
  margin-top: 1rem;
  font-size: 1.3rem;
  padding: 0.3rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: var(--point-color);
  color: var(--white-color);
}
