.hst-mgr,
.date,
.monthly-payment {
  padding: 1rem 0.6rem;
  background: white;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 4px -0.5px var(--soft-gray-color);
}

.monthly-payment {
  text-align: center;
  font-size: 0.9rem;
}

.hst-mgr i {
  color: var(--push-color);
  font-size: 1.2rem;
}

.mgr {
  padding-top: 0.8rem;
}

.hst-info {
  padding-top: 0.4rem;
}

.hst-role,
.mgr-role {
  font-size: 0.9rem;
}

.hst-name,
.mgr-name {
  font-weight: 600;
}

.date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  text-align: center;
}

.start {
  flex: 1;
}

.due {
  flex: 1;
}

.date-count {
  flex: 0.8;
}

.count-num {
  font-weight: 600;
}

.count-tail {
  font-size: 0.8rem;
}

.monthly-payment-status {
  background-color: var(--push-color);
  color: var(--white-color);
  padding: 0.05rem 0.3rem;
  border-radius: 0.3rem;
  font-size: 0.85rem;
  margin-left: 0.25rem;
}

.address {
  font-size: 0.85rem;
  margin: 0 0 0.7rem 0.5rem;
}

.address_line {
  border-bottom: 1px solid var(--soft-gray-color);
  padding: 0 0.15rem;
}
