.account-management-title {
  font-size: 1.7rem;
  font-weight: 600;
  padding-left: 1.3rem;
  margin-bottom: 1rem;
}

.account-management-box {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 1.2rem;
  width: 95%;
  margin-left: 0.5rem;
  margin-top: 0.8rem;
}

.list-tag {
  flex: 1;
}

.tag-explain {
  padding: 0.4rem 1rem;
  margin-top: 0.8rem;
  height: 1.8rem;
}

.list-content {
  flex: 2;
}

.info-account {
  padding: 0.4rem 0.8rem;
  margin-top: 0.8rem;
  background-color: #eee;
  border-radius: 5px;
  height: 1.8rem;
}

#show_form {
  font-size: 1rem;
}

#change_passwd_form {
  visibility: hidden;
}

.form-top {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 1.2rem;
  width: 95%;
  margin-left: 0.5rem;
  margin-top: 0.8rem;
}

.form-tag {
  flex: 1;
}

.form-content {
  flex: 1;
}

#current_passwd,
#first_passwd,
#second_passwd {
  width: 10rem;
}

.form-bottom {
  margin-top: 1rem;
  text-align: center;
}
label {
  padding: 0.3rem 1.5rem;
  color: var(--point-color);
  font-size: 1rem;
  background-color: var(--white-color);
  border: 1px solid #cfd8dc;
  border-radius: 5px;
}

#change_passwd_submit {
  display: none;
}
